<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.UserDao">

	<insert id="signup" parameterType="User">
		INSERT INTO User
		VALUES
		(#{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail}, #{userNickname}, false, 'Y')
	</insert>
	
	<select id="getUserOne" parameterType="String" resultType="User">
		SELECT * 
		FROM User
		WHERE userId = #{userId};
	</select>
	
	<!-- 유저 닉네임 조회 -->
	<select id="getUserNick" parameterType="String" resultType="User">
		SELECT * 
		FROM User
		WHERE userNickname = #{userNickname};
	</select>
	
	<!-- 유저 이름, 상태는 변경불가 -->
	<update id="updateUser" parameterType="User">
		UPDATE User
		SET userPw = #{userPw}, userPhone = #{userPhone}, userEmail = #{userEmail}, userNickname = #{userNickname}, manager = false, userStatus='Y'
		WHERE userId = #{userId};
	</update>
	
	<!-- 유저 탈퇴 -->
	<update id="UserCancel" parameterType="String">
		UPDATE User
		SET userStatus='C'
		WHERE userId = #{userId};
	</update>
	
	<!-- 유저 정지 -->
	<update id="UserBan" parameterType="String">
		UPDATE User
		SET userStatus='B'
		WHERE userId = #{userId};
	</update>
	
	
	
</mapper>