<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.ManagerDao">

	<!-- 전체 관리자 조회 -->
	<select id="getManagerList" resultType="Manager">
		SELECT *
		FROM manager
	</select>
	
	<!-- 관리자 등록 -->
	<insert id="writeManager" parameterType="Manager">
		INSERT INTO manager
		VALUES(#{managerId}, #{managerPw}, #{managerName}, #{managerDelete})
	</insert>
	
	<!-- 관리자 수정 -->
	<update id="updateManager" parameterType="Manager">
		UPDATE manager
		SET managerPw = #{managerPw}, managerName = #{managerName}
		WHERE managerId = #{managerId};
	</update>
	
	<!-- 관리자 삭제 -->
	<update id="removeReview" parameterType="String">
		UPDATE manager
		SET managerDelete = 'Y'
		WHERE managerId = #{managerId};
	</update>
	
	
</mapper>