<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.ManagerDao">

	<!-- 전체 관리자 조회 -->
	<select id="getManagerList" resultType="Manager">
		SELECT *
		FROM manager
	</select>
	
	<!-- 관리자 등록 -->
	<insert id="writeManager" parameterType="Manager">
		INSERT INTO manager
		VALUES(#{managerId}, #{managerPw}, #{managerName}, 'N')
	</insert>
	
	<!-- 관리자 수정 -->
	<update id="updateManager" parameterType="Manager">
		UPDATE manager
		SET managerPw = #{managerPw}, managerName = #{managerName}
		WHERE managerId = #{managerId}
	</update>
	
	<!-- 관리자 삭제 -->
	<update id="removeManager" parameterType="String">
		UPDATE manager
		SET managerDelete = 'Y'
		WHERE managerId = #{managerId}
	</update>
	
	<!-- 관리자 댓글 등록 -->
	<insert id="writeManagerComment" parameterType="ManagerComment">
		INSERT INTO ManagerComment
		VALUES
		(0, #{managerId}, #{reviewId}, #{commentContent}, #{commentDate}, 'N')
	</insert>
	
	<!-- 관리자 아이디에 해당하는 댓글 리스트 가져오기 -->
	<select id="getManagerCommentList" parameterType="String" resultType="ManagerComment">
		SELECT *
		FROM ManagerComment
		WHERE managerId = #{managerId}
	</select>
	
	<!-- 관리자 댓글 수정 -->
	<update id="updateManagerComment" parameterType="ManagerComment">
		UPDATE ManagerComment
		SET managerId = #{managerId}, reviewId = #{reviewId}, commentContent = #{commentContent}, commentDate = #{commentDate}
		WHERE commentId = #{commentId}
	</update>
	
	<!-- 댓글 아이디에 맞는 관리자 댓글 하나 삭제 -->
	<update id="removeManagerComment" parameterType="int">
		UPDATE ManagerComment
		SET commentDelete = 'Y'
		WHERE commentId = #{commentId}
	</update>
	
	
	
</mapper>