<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.OrderDao">
	
	<!-- 주문내역 등록 -->
	<insert id="writeOrder" parameterType="ProductOrder">
		INSERT INTO ProductOrder
		VALUES (0, #{userId}, #{productId}, #{productPrice}, #{productSize}, #{productOption}, #{productDetailOption}, #{productCnt}, now(), #{receiverName}, #{receiverPhone}, #{deliveryAddress1}, #{deliveryAddress2}, #{deliveryMemo})
	</insert>
	
	<!-- 리뷰 리스트 조회 -->
	<select id="getOrderList" resultType="ProductOrder">
		SELECT *
		FROM ProductOrder
	</select>
	
	<!-- 유저 아이디에 맞는 주문 내역 조회 -->
	<select id="getOrderUserList" parameterType="String" resultType="ProductOrder">
		SELECT *
		FROM ProductOrder 
		WHERE userId = #{userId}
	</select>
	
	<!-- 상품 아이디에 맞는 주문 내역 조회 -->
	<select id="getOrderProductList" parameterType="int" resultType="ProductOrder">
		SELECT *
		FROM ProductOrder 
		WHERE productId = #{productId}
	</select>
	
	<!-- 주문 내역 수정 -->
	<update id="updateOrder" parameterType="ProductOrder">
		UPDATE ProductOrder
		SET userId = #{userId},
			productId = #{productId},
			productPrice = #{productPrice},
			productSize = #{productSize},
			productOption = #{productOption},
			productDetailOption = #{productDetailOption},
			productCnt = #{productCnt},
			orderDate = #{orderDate},
			receiverName = #{receiverName},
			receiverPhone = #{receiverPhone},
			deliveryAddress1 = #{deliveryAddress1},
			deliveryAddress2 = #{deliveryAddress2},
			deliveryMemo = #{deliveryMemo},
		WHERE orderId = #{orderId}
	</update>
	
	
	
	
	
	
</mapper>