<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.ProductDao">

	<select id="getCategoryProduct" resultType="Product" parameterType="int">
		SELECT p.*
		FROM Product p
		JOIN ProductCategory pc ON p.categoryId = pc.categoryId
		WHERE (pc.parentCategoryId = #{id} OR pc.categoryId = #{id});
	</select>
	
</mapper>