<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.UserDao">

	<insert id="signup" parameterType="User">
		INSERT INTO User
		VALUES
		(#{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail}, #{userNickname}, false)
	</insert>
	
	<select id="getUserOne" parameterType="String" resultType="User">
		SELECT * 
		FROM User
		WHERE userId = #{userId};
	</select>
	
	<update id="updateUser" parameterType="User">
	UPDATE User
	SET userPw = #{userPw}, userPhone = #{userPhone}, userEmail = #{userEmail}, userNickname = #{userNickname}
	WHERE userId = #{userId};
	</update>
	
	
	
</mapper>